$topOnHeader: 10px;

.nav-header {
  background-color: #eff600;
  height: 56px;
  display: flex;
  justify-content: center;
}
.nav-logo {
  position: relative;
  top: $topOnHeader;
  margin-right: 20px;
}
.nav-search {
  display: flex;
  align-items: flex-start;

  &__input {
    position: relative;
    top: $topOnHeader;
    width: 665px;
    max-width: 800px;
    border: 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
    padding: 9px 15px 9px 15px;
    outline: none;
  }

  &__btn {
    position: relative;
    margin-right: 12px;
    top: $topOnHeader;
    background-color: #eeeeee;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 6px;
    width: 39px;
    border-radius: 0 4px 4px 0;
  }
}
