$standard-padding: 32px;
$font-weight-regular: 400;
$color-text: #333333;
$color-btn: #3483fa;
$small-letter: 14px;

.ui-detail-container {
  display: flex;
  flex-flow: row nowrap;
  padding: $standard-padding;
  min-height: 450px;

  &__colleft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin-right: 16px;
  }
  &__colright {
    width: 30%;
    text-align: start;
  }
}
.ui-figure {
  margin: 0 0 100px 0;
  height: 300px;

  &__image {
    width: 100%;
    height: 100%;
  }
}
.ui-detail-description {
  &__title {
    text-align: start;
    color: $color-text;
    font-size: 28px;
    font-weight: $font-weight-regular;
  }
  &__content {
    padding-top: $standard-padding;
    text-align: justify;
    font-size: 16px;
    color: #999999;
  }
}
.ui-subtitle {
  font-size: $small-letter;
  font-weight: $font-weight-regular;
  color: $color-text;
  margin-bottom: 16px;
}
.ui-title {
  font-size: 24px;
  color: $color-text;
  font-weight: 500;
}
.ui-price {
  font-size: 46px;
  padding: $standard-padding 0;
  width: max-content;
}
.ui-actions {
  &__container {
    width: 100%;
  }
}
.ui-button {
  background-color: $color-btn;
  color: #eeeeee;
  font-size: $small-letter;
  line-height: 28px;
  padding: 0 24px;
  height: 28px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #2968c8;
    color: #fff;
  }
}
