.App {
  background-color: #eeeeee;
  min-height: 100vh;
}
.App-container {
  margin: 30px auto 0 auto;
  width: 800px;
  height: 500px;
  max-height: 500px;
  text-align: center;
  padding: 26px 0;
  background-color: white;
}
